<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>刪除獎學金</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>刪除獎學金</h1>
    <form action="/students/delete/<%= data.id %>?_method=DELETE" method="POST">
        <button>確認刪除</button>
    </form>        
</body>
</html>