<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>成功</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>資料已送出，謝謝!</h1>
    <a href="/students">前往獎學金列表</a>
</body>
</html>